@font-face {
    font-family: SourceSerif4;
    src: url(./fonts/SourceSerif4-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


#page1{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#nav{
    width: 100%;
    height: 80px;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2vw;
}


#nav-part1{
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
    /* gap: 2vw; */
}

#nav-part1 h4{
    font-size: 0.8vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4c4c;
}


#nav img{
    height: 50%;
}

#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: end;
}

#nav-part2 button{
    font-size: 11px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: 0 0.5vw;
}


#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}


#content{
    width: 100%;
    height: calc(100% - 80px);
    /* background-color: crimson; */
    padding-top: 5vw;
}


#content h3{
    background-color: #F2B0EA;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9vw;
    font-weight: 100;
    /* letter-spacing: 0.5px; */
    font-family: SourceSerif4;
}

#content h1{
    text-align: center;
    font-size: 3.8vw;
    font-weight: 100;
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    font-family: SourceSerif4;
    line-height: 4vw;
}

#content h4{
    text-align: center;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#content button{
    font-size: 11px;
    font-weight: 600;
    padding: 15px 18px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: 2vw 0vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

