@font-face {
    font-family: SourceSerif4;
    src: url(./fonts/SourceSerif4-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
    height: 100%;
    /* background-color: red; */    
}


#page1{
    width: 100%;
    height: fit-content;
    /* background-color: red; */
}

#nav{
    width: 100%;
    height: 80px;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2vw;
}


#nav-part1{
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
    /* gap: 2vw; */
}

#nav-part1 h4{
    font-size: 0.8vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4c4c;
}


#nav img{
    height: 50%;
}

#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: end;
}

#nav-part2 button{
    font-size: 11px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: 0 0.5vw;
}


#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}


#content{
    width: 100%;
    height: calc(100% - 80px);
    /* background-color: crimson; */
    padding-top: 5vw;
}


#content h3{
    background-color: #F2B0EA;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9vw;
    font-weight: 100;
    /* letter-spacing: 0.5px; */
    font-family: SourceSerif4;
}

#content h1{
    text-align: center;
    font-size: 3.8vw;
    font-weight: 100;
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    font-family: SourceSerif4;
    line-height: 4vw;
}

#content h4{
    text-align: center;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#content button{
    font-size: 11px;
    font-weight: 600;
    padding: 15px 18px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    margin: 2vw 0vw;
    /* margin-bottom: 4vw; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear 0.5s;
    overflow: hidden;
    border: 1px solid black;
}


#content button::after{
    content: '';
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0);
    border-radius: 50%;
    z-index: -1;
    transition: all linear 0.5s;
}


#content button:hover:after{
    transform: translate(-50%,-50%)scale(3);
}

#content button:hover{
    color: #000;
}

#content button:active::after{
    background-color: rgb(252, 133, 202);
}


#bottom{
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding: 5px;
    width: 100%;
    height: 250px;
    /* background-color: rebeccapurple; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bottom .container{
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    /* border: 2px solid black; */
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem{
    position: relative;
    display: inline-block;
    width: 14.9%;
    height: 100%;
    /* background-color: black; */
    /* border: 2px solid black; */
    border-radius: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.elem video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


.text-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent,rgb(0, 0, 0));
    /* background-color: red; */
    backdrop-filter:  brightness(95%);
    color: #fff;
    padding: 0vw 1.2vw;
}

.text-bottom h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75vw;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.text-bottom h5{
    font-size: 0.8vw;
    margin-top: 0.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
}


.capsules{
    margin-top: 0.6vw;
    display: flex;
    gap: 5px;
    /* background-color: red; */
}

.capsules h2{
    font-size: 0.7vw;
    font-family: sans-serif;
    /* background-color: red; */
    padding: 0.3vw 0.6vw;
    border-radius: 30px;
    border: 1px solid #88888894;
}



@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
}


#page2{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    position: relative;
    padding: 5vw 1vw;
}


#page2 h1{
    /* background-color: red; */
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5vw;
}

.box{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 220px;
    margin: 25px 13.9px;
    border-radius: 10px;
    background-color: red;
    overflow: hidden;
    transition: all ease 0.5s;
}


.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-bottom{
    width: 100%;
    height: 35%;
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    gap: 0.7vw;
    align-items: center;
    padding: 0 1.7vw;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.726));
    bottom: -40%;
    position: absolute;
    transition: all ease 0.5s; 
}


.box:hover .box-bottom{
    bottom: 0;
}

.box:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}


.box-bottom h5{
    font-size: 0.9vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


.box-bottom i{
    font-size: 1vw;
    background-color: #fff;
    color: #000;
    padding: 0.6vw;
    border-radius: 50px;
}


#page2 button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 18px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
}

#page3{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 8vw 0;
}


#main-container{
    padding: 7vw 0;
    width: 100%;
    /* height: fit-content; */
    background-color: rgba(235, 199, 0, 0.521);
    position: relative;
}

#main-container h1{
    font-family: SourceSerif4;
    text-align: center;
    font-size: 3.8vw;
    font-weight: 200;
    line-height: 4.2vw;
}

#main-container h3{
    margin-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2.2vw;
    letter-spacing: -0.8px;
}

#button-container{
    /* background-color: red; */
    margin-top: 2.5vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#button-container button{
    font-size: 12px;
    padding: 15px 18px;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    border: none;
    margin: 0.3vw;
}

#button-container button:nth-last-child(1){
    background-color: #fff;
    color: #000;
}


#last-box{
    margin-top: 9vw;
    /* background-color: green; */
    text-align: center;
}


#last-box h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    /* background-color: red; */
    font-size: 1.25vw;
    font-weight: 100;
}

#last-box a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: red; */
    color: black;
    font-size: 1.25vw;
}


#page4{
    width: 100%;
    /* height: 100%; */
    /* background-color: yellow; */
    padding-top: 4vw;
}

#Scroller{
    width: 100%;
    height: 40%;
    /* background-color: blue; */
    padding: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#Scroller .container{
    padding-top: 2vw;
    display: inline-block;
    width: 100%;
    height: 100%;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background-color: red; */
    /* border: 2px solid black; */
}

.elem1{
    display: inline-block;
    margin-right: 2.2vw;
    width: 14%;
    height: 75%;
    /* background-color: cyan; */
}


.elem1 img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.elem1 h2{
    margin-top: 1vw;
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#footer-container{
    padding-top: 0.1px;
    padding-bottom: 4vw;
    width: 100%;
    height: 35%;
    /* background-color: orange; */
}

#footer1{
    margin-top: 4vw;
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    /* align-items: center; */
    gap: 5vw;
}

#footer1 img{
    width: 5%;
    margin-left: 14vw;
    height:85%;
}

#footer1-middle{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 2.5vw;

}

#footer1-middle h4{
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #505050;
}

#footer1-links{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 0.9vw;
}

#footer1-links a{
    color: #000;
    font-size: 1.5vw;
    text-decoration: none;
}

#footer1-links a:nth-child(1){
    color: #0F1419;
}

#footer1-links a:nth-child(2){
    color: #3B569D;
}

#footer1-links a:nth-child(3){
    color: #FE0096;
}

#footer1-links a:nth-child(4){
    color: #0A66C2;
}



#footer2{
    width: 100%;
    height: 20%;
    /* background-color: cyan; */
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#footer2-left{
    margin-left: 13.8vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

#footer2-left h4{
    font-size: 0.9vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #999898;
}


#footer2-right{
    margin-right: 13.8vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 1.5vw;
}


#footer2-right h4{
    font-size: 0.9vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #999898;
}



@media (max-width: 600px) {
    
    #nav{
        height: 50px;
        /* background-color: royalblue; */
        padding: 0 1.6vw;
    }

    
    #nav-part1{
        display: none;
    }


    #nav img{
        height: 60%;
        margin-left: 1vw;
    }

    #nav-part2{
        width: 40%;
        /* background-color: yellow; */
    }

    #nav-part2 button{
        padding: 10px 12px;
        margin: 0 1vw;
    }


    #content h3{
        font-size: 1.9vw;
        letter-spacing: -0.1px;
    }

    #content h1{
        font-size: 7.2vw;
        margin-top: 4vw;
        margin-bottom: 4.5vw;
        line-height: 7.5vw;
    }

    #content h4{
        font-size: 2vw;
        font-weight: 100;
        letter-spacing: -0.1px;
    }

    #content button{
        font-size: 9px;
        font-weight: 500;
        padding: 10px 12px;
        margin-top: 6vw;
    }


    #content button::after{
        /* display: none; */
    }


    #content button:hover:after{
        /* display: none; */
    }

    #content button:hover{
        /* display: none; */
    }

    #content button:active::after{
        /* display: none; */
    }



    #bottom{
        margin-top: 4vw;
        margin-bottom: 2vw;
        height: 150px;
        /* background-color: rebeccapurple; */
        overflow-x: auto;
    }

    #bottom::-webkit-scrollbar{
        display: none;
    }

    #bottom .container{
        width: 220%;
        /* background-color: red; */
        /* border: 2px solid black; */
        animation-name: animw;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .elem{
        /* background-color: black; */
        /* border: 2px solid black; */
        margin-right: 10px;
        /* box-shadow: black 1px 1px 5px; */
    }



    .text-bottom{
        padding: 0vw 2.2vw;
    }

    .text-bottom h6{
        font-size: 1.6vw;
    }

    .text-bottom h5{
        font-size: 1.8vw;
        margin-top: 0.9vw;
    }


    .capsules{
        margin-top: 1.2vw;
        /* background-color: red; */
    }

    .capsules h2{
        font-size: 1.4vw;
        /* background-color: red; */
        padding: 0.5vw 1.2vw;
    }


    #page2{
        /* background-color: pink;  */
        padding-top: 5vw;
        padding-bottom: 15vw;
    }


    #page2 h1{
        /* background-color: red; */
        font-size: 4.8vw;
    }

    .box{
        margin: 10px 35px;
        /* background-color: red; */
    }


    .box-bottom{
        justify-content: center;
        gap: 1.5vw;
        padding: 0 0;
    }


    .box-bottom h5{
        font-size: 3.9vw;
    }


    .box-bottom i{
        font-size: 3vw;
        padding: 1.5vw 1.6vw;
    }


    #page2 button{
        padding: 12px 14px;
    }



    #page3{
        height: fit-content;
        /* background-color: red; */
    }

    #main-container h1{
        font-size: 9vw;
        line-height: 9.5vw;
    }

    #main-container h3{
        margin-top: 4vw;
        font-size: 3.2vw;
        line-height: 3.7vw;
        letter-spacing: -0.5px;
    }

    #button-container{
        /* background-color: red; */
        margin-top: 4.5vw;
    }


    #button-container button{
        font-size: 8px;
        padding: 10px 10px;
        margin: 0.1vw;
    }


    #last-box{
        margin-top: 18vw;
        /* background-color: green; */
    }


    #last-box h4{
        /* background-color: red; */
        font-size: 3.4vw;
    }

    #last-box a{
        /* background-color: red; */
        font-size: 3.4vw;
    }



    #page4{
        /* height: 100%; */
        /* background-color: yellow; */
        padding-top: 0vw;
    }


    #Scroller .container{
        /* background-color: red; */
        width: 290%;
        height: 150px;
        /* border: 2px solid black; */
    }

    .elem1{
        margin-right: 4.2vw;
        width: 14.75%;
        /* background-color: cyan; */
    }


    .elem1 h2{
        margin-top: 1.5vw;
        font-size: 2.5vw;
    }


    #footer-container{
        height: 85px;
        /* background-color: orange; */
    }

    #footer1{
        height: 40%;
        /* background-color: green; */
        /* align-items: center; */
        gap: 9vw;
    }

    #footer1 img{
        width: 7.5%;
        margin-left: 2vw;
        height: 80%;
    }

    #footer1-middle{
        /* background-color: red; */
        gap: 1vw;

    }

    #footer1-middle h4{
        font-size: 2vw;
        letter-spacing: -0.5px;
    }


     #footer1-middle h4:nth-child(2n){
        /* display: none; */
     }


    #footer1-links a{
        font-size: 2.5vw;
    }



    #footer2{
        height: 40%;
        /* background-color: cyan; */
        margin-top: 3vw;
    }


    #footer2-left{
        margin-left: 2vw;
        /* background-color: red; */
    }

    #footer2-left h4{
        font-size: 2vw;
    }


    #footer2-right{
        margin-right: 2vw;
        /* background-color: red; */
    }


    #footer2-right h4{
        font-size: 2vw;
    }




}



